* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: sans-serif;
}
.nav {
	min-height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	padding: 2rem;
}
.nav input {
	padding: 2rem;
	border: none;
	outline: none;
	font-size: 2rem;
}
.nav div {
	border-bottom: 3px solid black;
}
.nav i {
	cursor: pointer;
}
.recipes {
	display: flex;
	flex-wrap: wrap;
}
.recipe {
	/* border: 2px solid black; */
	padding: 2rem;
	text-align: center;
	font-size: 2rem;
	margin: 1rem;
	flex: 1;
}
